<div>
    <section class="container sobrenos-container">
        <h2 class="texto-titulo tamanho-titulo">
            ARTES AÉREAS CIRCENCES
            <br>
            <br>
        </h2>
        <div>
            <h3 class="texto-titulo">
                Olá!
                <br>
            </h3>
        </div>
        <div class="row">
            <p class="texto-justificar col-lg-6 col-md-12 col-sm-12">
                Bem-vindo à Cia. Pé de Manga, um espaço onde a paixão pela expressão artística, movimento e superação se
                encontra.
                <br>
                Somos mais do que uma escola de acrobacia e dança aérea; somos uma comunidade vibrante e inspiradora que
                acredita no poder transformador da arte e do corpo em movimento.
                <br>
                Fundada com a visão de proporcionar um ambiente acolhedor e desafiador, a Cia. Pé de Manga é o lugar
                onde os
                sonhos se elevam, literalmente. Nossos instrutores dedicados e experientes não apenas ensinam técnicas
                de
                acrobacia e dança aérea, mas também cultivam uma atmosfera de apoio e colaboração.
                <br>
                Na Cia. Pé de Manga, celebramos a diversidade de talentos e habilidades, acolhendo alunos de todos os
                níveis
                e idades. Seja você um iniciante curioso ou um artista experiente em busca de aprimoramento, aqui você
                encontrará um espaço para explorar, aprender e se superar.
                <br>
                Nosso compromisso vai além do ensino de habilidades físicas. Acreditamos no poder da expressão artística
                como meio de empoderamento pessoal. Ao integrar técnicas de acrobacia e dança aérea com a liberdade
                criativa, incentivamos cada aluno a descobrir sua própria voz no movimento.
                <br>
                Além das aulas regulares, oferecemos workshops, performances e eventos especiais que enriquecem ainda
                mais a
                experiência dos nossos alunos. Estamos empenhados em criar oportunidades para que todos possam brilhar,
                seja
                no palco ou na sala de aula.
                <br>
                Quer fazer parte dessa jornada de descoberta, expressão e conquista?
                <br>
                <br>
                <br>
                Te esperamos!
                <br>
                <br>

                <button mat-raised-button matTooltip="Botão Whatsapp" color="accent" aria-label="Botão Whatsapp"
                    class="btn-whatsapp tamanho-responsivo" (click)="redirecionarWhatsapp()">
                    Agende já sua experimental gratuita
                </button>
            </p>
            <img class="col-lg-6 col-md-7 col-sm-7 img-sobrenos" src="assets\fotos\VARIETÉ DOS SONHOs-102.jpg"
                alt="Sua Imagem">
        </div>
    </section>
</div>