.sobrenos-container {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.texto-titulo {
    font-family: 'Anton';
}

.tamanho-titulo {
    font-size: 50px;
}

.img-sobrenos {
    border-radius: 250px;
    width: 100%;
    border: 23px solid #f18bb8;
    padding: 0;
}

@media only screen and (min-width: 1000px) {
    .img-sobrenos {
        bottom: 100px;
        left: 30px;
    }
}

.texto-justificar {
    text-align: justify;
    padding-right: 50px;
}

@media only screen and (max-width: 300px) {
    .tamanho-responsivo {
        font-size: 15px;
    }
}

div:not([class^="app-"]) {
    background-color: #f7f1e9;
}