.sobrenos-container {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.texto-titulo {
    font-size: 50px;
    font-family: 'Anton';
}

.img-sobrenos {
    border-radius: 250px;
    width: 100%;
    border: 23px solid #f18bb8;
    padding: 0;
}

@media only screen and (min-width: 1000px) {
    .img-sobrenos {
        bottom: 100px;
        left: 30px;
    }
}

// section {
//     padding: 56px 0 56px 0;
// }

.texto-justificar {
    text-align: justify;
    padding-right: 50px;
}