<section id="producoes" class="producoes-container container">
    <h2 class="row texto-titulo">
        PRODUÇÕES
    </h2>
    <p class="row texto-subtitulo">
        produções do pdf + Varieté dos Sonhos 2023
    </p>

    <div class="row centralizar">
        <div class="col-lg-3 col-md-4 col-sm-4">
            <img class="img-sobrenos" src="assets\fotos\VARIETÉ DOS SONHOs-102.jpg" alt="Sua Imagem">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4">
            <img class="img-sobrenos" src="assets\fotos\VARIETÉ DOS SONHOs-102.jpg" alt="Sua Imagem">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4">
            <img class="img-sobrenos" src="assets\fotos\VARIETÉ DOS SONHOs-102.jpg" alt="Sua Imagem">
        </div>
    </div>
</section>