.producoes-container {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.texto-titulo {
    font-size: 50px;
    font-family: 'Anton';
}

.texto-subtitulo {
    font-family: "Bebas Neue", sans-serif;
}

.img-sobrenos {
    border-radius: 250px;
    width: 100%;
    border: 23px solid #F18BB8;
    padding: 0;
}

.centralizar {
    place-content: center;
}

.ngucarousel-items .item {
    flex: 0 0 50%;
}