<div class="home-container">
    <section id="agendarExperimental" class="no-padding">
    </section>

    <section id="evento">
        <!-- <app-evento></app-evento> -->
    </section>

    <section id="sobrenos">
        <app-about></app-about>
    </section>

    <section id="idealizadora">
        <app-idealizadora></app-idealizadora>
    </section>

    <section id="producoes">
        <app-productions></app-productions>
    </section>

    <section id="galeria">
        <app-gallery></app-gallery>
    </section>

    <section id="perguntasFrequentes">
        <app-faq></app-faq>
    </section>

    <section id="contato">
        <app-contact></app-contact>
    </section>
</div>