/* Comum */
@font-face {
  font-family: 'Stadio';
  src: url('../../assets/fonts/FontsFree-Net-Stadio-Now-Display-Bold-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$cor-rosa: #F18BB8;
$cor-branca: #f7f1e9;
$cor-preta: #000000;
$cor-amarela: #ffff00;

.home-container {
  background-color: $cor-rosa;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

section {
  padding: 56px 0 56px 0;
}

.no-padding {
  padding: 0;
}

.home-container section:nth-child(even) {
  background-color: $cor-branca;
  color: $cor-preta;
}

.home-container section:nth-child(odd) {
  background-color: $cor-rosa;
  color: $cor-preta;
}