.evento-container {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.texto-titulo {
    font-size: 50px;
    font-family: 'Anton';
    margin-bottom: 35px;
}

.tamanho-titulo {
    font-size: 50px;
}

.texto-justificar {
    margin-top: 30px;
    text-align: center;
}

.img-evento {
    border-radius: 250px;
    width: 100%;
    border: 23px solid #f7f1e9;
    padding: 0;
    cursor: pointer;
}

div:not([class^="app-"]) {
    background-color: #f18bb8;
}