::ng-deep .tile {
  box-shadow: none !important;
  padding: 20px;
}

.img-border {
  border: 13px solid #f7f1e9;
  border-radius: 100px;
  width: 32vw;
  padding: 0;
}

.item {
  box-sizing: border-box;
}

.tile {
  min-height: 200px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.legenda {
  position: absolute;
  bottom: 25px;
  font-size: 30px;
  color: #f7f1e9;
  background-color: #f18bb8;
  border-radius: 20px;
  padding: 10px;
  white-space: nowrap;
}

.image-container {
  position: relative;
}

.hovered {
  filter: brightness(50%);
  transition: filter 0.5s ease;
}

.legenda-ver-mais-btn {
  position: absolute;
  color: #f7f1e9;
  background-color: #f18bb8;
  border-radius: 20px;
  white-space: nowrap;
  top: 50%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.image-container:hover .ver-mais-btn {
  display: block;
}
