::ng-deep .tile {
  box-shadow: none !important;
  padding: 20px;
}

.img-border {
  border: 13px solid #f7f1e9;
  border-radius: 100px;
  width: 32vw;
  padding: 0;
}

.item {
  box-sizing: border-box; 
}

.tile {
  min-height: 200px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}