<div>
    <section id="perguntasFrequentes" class="container">
        <h2 class="texto-titulo">
            PERGUNTAS FREQUENTES
        </h2>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="perguntas-respostas">
                        <strong>Preciso ter alguma experiência prévia para praticar aéreos ou
                            flexibilidade?</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="perguntas-respostas">
                    <strong>Absolutamente não!</strong>
                    <br>
                    Na Cia. Pé de Manga, acolhemos alunos de todos os níveis de habilidade, desde iniciantes até os mais
                    experientes.
                    <br>
                    Nossos instrutores dedicados estão aqui para orientar e apoiar você em sua jornada.
                    <br>
                    Se você nunca experimentou atividades aéreas ou trabalhou sua flexibilidade antes, não se preocupe.
                    Nossas aulas são projetadas para serem acessíveis a todos, proporcionando uma introdução suave e
                    progressiva às técnicas de acrobacia e dança aérea.
                    <br>
                    Venha como você é e descubra o incrível mundo dos aéreos!
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="perguntas-respostas">
                        <strong>Preciso ser jovem para praticar aéreos ou flexibilidade?</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="perguntas-respostas">
                    <strong>Definitivamente não há limite de idade para explorar os aéreos e a flexibilidade!</strong>
                    <br>
                    Na Cia. Pé de Manga, acreditamos que a arte do movimento é atemporal.
                    <br>
                    Nossas aulas são adaptáveis a diferentes idades e níveis de condicionamento físico.
                    <br>
                    Seja você jovem ou mais experiente, as atividades aéreas e de flexibilidade podem ser desfrutadas
                    por
                    todos.
                    <br>
                    Nosso ambiente acolhedor e encorajador é projetado para que cada pessoa se sinta confortável e
                    confiante
                    em sua prática, independentemente da idade.
                    <br>
                    Venha descobrir o prazer do movimento!
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="perguntas-respostas">
                        <strong>Preciso ser magra(o) para praticar aéreos ou flexibilidade?</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="perguntas-respostas">
                    <strong>Definitivamente não! A diversidade de corpos é celebrada na Cia. Pé de Manga.</strong>
                    <br>
                    Nossas aulas são projetadas para atender a todos os tipos de corpo e níveis de condicionamento
                    físico.
                    <br>
                    A beleza dos aéreos e da flexibilidade está na expressão individual, independente da forma, peso ou
                    tamanho do corpo.
                    <br>
                    Nosso objetivo é criar um ambiente inclusivo e positivo, onde cada aluno se sinta confortável
                    explorando
                    suas capacidades, independentemente de padrões estéticos ou crenças equivocadas sobre os diversos
                    corpos.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="perguntas-respostas">
                        <strong>Crianças podem participar?</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="perguntas-respostas">
                    <strong>Sim, crianças são mais do que bem-vindas na Cia. Pé de Manga!</strong>
                    <br>
                    Nossas aulas estão abertas para pequenos aventureiros a partir dos 5 anos de idade.
                    <br>
                    Acreditamos que a prática de atividades aéreas e flexibilidade pode ser uma experiência
                    incrivelmente
                    enriquecedora para as crianças, proporcionando não apenas desenvolvimento físico e a motricidade,
                    mas
                    também estimulando a criatividade e a confiança.
                    <br>
                    É importante notar que crianças devem ser acompanhadas pelos pais durante as aulas, que são mistas
                    quanto a idade, garantindo um ambiente seguro e divertido para todos.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="perguntas-respostas">
                        <strong>Posso repor alguma aula, caso eu necessite faltar?</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="perguntas-respostas">
                    <strong>Sim, entendemos que imprevistos acontecem.</strong>
                    <br>
                    Na Cia. Pé de Manga, oferecemos a opção de reposição de aulas para garantir que você obtenha o
                    máximo
                    benefício de sua experiência.
                    <br>
                    Entre em contato e consulte nossas políticas de reposição para obter mais detalhes e informações
                    sobre
                    como programar a reposição de aulas que você perdeu.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="perguntas-respostas">
                        <strong>Quais os dias de aulas?</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <strong>Confira os dias e horários das aulas na <span style="text-decoration: underline;">sede do Recife
                        Antigo</span>:</strong>
                <br>
                <mat-tab-group>
                    <mat-tab label="Domingo">
                        <br>
                        <span>
                            ✨ 7:40 às 9:00h
                            <br>
                            ✨ 9:00 às 10:20h
                            <br>
                            ✨ 10:30 às 11:50h
                        </span>
                    </mat-tab>
                </mat-tab-group>
                <br>
                <br>

                <strong>Confira os dias e horários das aulas na <span style="text-decoration: underline;">sede de
                        Boa Viagem</span>:</strong>
                <mat-tab-group>
                    <mat-tab label="Segunda">
                        <br>
                        <span>
                            ✨ 16:30h às 17:50h
                            <br>
                            ✨ 18h às 19:20h
                            <br>
                            ✨ 19:30h às 20:50h
                        </span>
                    </mat-tab>
                    <mat-tab label="Terça">
                        <br>
                        <span>
                            ✨ 16:10h às 17:30h
                            <br>
                            ✨ 17:30 às 18:50h
                            <br>
                            ✨ 19h às 20:20h
                        </span>
                    </mat-tab>
                    <mat-tab label="Quarta">
                        <br>
                        <span>
                            ✨ 16:30h às 17:50h
                            <br>
                            ✨ 18h às 19:20h
                            <br>
                            ✨ 19:30h às 20:50h
                        </span>
                    </mat-tab>
                    <mat-tab label="Quinta">
                        <br>
                        <span>
                            ✨ 16:10h às 17:30h
                            <br>
                            ✨ 17:30h às 18:50h
                            <br>
                            ✨ 19h às 20:20h
                            <br>
                            ✨ 20:30h às 21:50h (flexibilidade - lotado)
                        </span>
                    </mat-tab>
                    <mat-tab label="Sexta">
                        <br>
                        <span>
                            ✨ 16:10h às 17:30h
                            <br>
                            ✨ 17:30 às 18:50h
                            <br>
                            ✨ 19h às 20:20h
                        </span>
                    </mat-tab>
                    <mat-tab label="Sábado">
                        <br>
                        <span>
                            ✨ 7:40h às 9h
                            <br>
                            ✨ 9h às 10:20h
                            <br>
                            ✨ 10:30h às 11:50h
                        </span>
                    </mat-tab>
                </mat-tab-group>
                <br>
                <br>

                <button class="btn-line-height-1" mat-raised-button matTooltip="Botão Whatsapp" color="accent"
                    aria-label="Botão Whatsapp" (click)="redirecionarWhatsapp()">
                    Consulte a disponibilidade de vagas clicando aqui
                </button>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="perguntas-respostas">
                        <strong>Quais os valores e planos?</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="perguntas-respostas">
                    Na Cia. Pé de Manga, oferecemos flexibilidade para atender às necessidades individuais de nossos
                    alunos.
                    <br>
                    Neste sentido, o valor da mensalidade varia de acordo com a frequência das aulas por semana.
                    <br>
                    Confira abaixo os planos e opções de pagamento:
                    <br>
                    <br>
                </p>
                <mat-tab-group>
                    <mat-tab label="Mensalidade Normal">
                        <br>
                        ✨ Matrícula de R$50 (cobrada uma única vez)
                        <br>
                        <br>
                        ✨ 1 aula/semana: R$160
                        <br>
                        ✨ 2 aulas/semana: R$270
                        <br>
                        ✨ 3 aulas/semana: R$380
                        <br>
                        ✨ 4 aulas/semana: R$460
                        <br>
                        <br>
                        ✨ O pagamento via cartão está sujeito a um acréscimo da maquineta
                    </mat-tab>
                    <mat-tab label="Mensalidade Flexível">
                        <br>
                        ✨ Matrícula de R$50 (cobrada uma única vez)
                        <br>
                        <br>
                        ✨ 1 aula/semana: R$180
                        <br>
                        ✨ 2 aulas/semana: R$290
                        <br>
                        ✨ 3 aulas/semana: R$400
                        <br>
                        ✨ 4 aulas/semana: R$480
                        <br>
                        <br>
                        ✨ O pagamento via cartão está sujeito a um acréscimo da maquineta
                    </mat-tab>
                    <mat-tab label="Combo Aéreo + Flexibilidade">
                        <br>
                        ✨ Matrícula de R$50 (cobrada uma única vez)
                        <br>
                        <br>
                        ✨ 1 aula/semana aéreo + flexibilidade: R$290
                        <br>
                        <br>
                        ✨ O pagamento via cartão está sujeito a um acréscimo da maquineta
                    </mat-tab>
                    <mat-tab label="Aula Avulsa">
                        <br>
                        ✨ R$50 por aula
                        <br>
                        <br>
                        ✨ O pagamento via cartão está sujeito a um acréscimo da maquineta
                    </mat-tab>
                    <mat-tab label="Aula Experimental">
                        <br>
                        ✨ <strong>Gratuita</strong>
                    </mat-tab>
                </mat-tab-group>
                <br>
                <br>
                Entendemos a importância de oferecer opções de pagamento convenientes. Para mais informações sobre
                os
                planos, métodos de pagamento e matrícula, entre em contato conosco.
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="perguntas-respostas">
                        <strong>Onde se localiza da Cia. Pé de Manga?</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-tab-group>
                    <mat-tab label="Sede do Recife Antigo">
                        <p class="perguntas-respostas">
                            Uma das nossas sedes se localiza em Recife, no bairro do Recife Antigo, neste endereço:
                            <br>
                            Tv. Tiradentes, 122 - Recife, PE, 50003-080
                            <br>
                            <iframe class="mapa-localizacao"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.411718748501!2d-34.87353542312098!3d-8.059417680528266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab19c51a5dc749%3A0xbbd23ca315e0c2b7!2sCia.%20P%C3%A9%20de%20Manga!5e0!3m2!1spt-BR!2sbr!4v1709058661236!5m2!1spt-BR!2sbr"
                                style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                            <br>
                            <button class="btn-line-height-1" mat-raised-button matTooltip="Botão Whatsapp"
                                color="accent" aria-label="Botão Whatsapp" (click)="redirecionarWhatsapp()">
                                Entre em contato com a gente clicando aqui
                            </button>
                        </p>
                    </mat-tab>
                    <mat-tab label="Sede de Boa Viagem">
                        <p class="perguntas-respostas">
                            A Cia. Pé de Manga também está presente em Recife, no bairro do Boa viagem, neste endereço:
                            <br>
                            Av. Barão de Souza Leão, n°75, Ed João PauloI, loja 08, Boa Viagem, Recife, 51030-300
                            <br>
                            <iframe class="mapa-localizacao"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.695478600985!2d-34.90074879999995!3d-8.132452499999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab1fc960897699%3A0xab3146889b31e0d!2sR.%20Bar%C3%A3o%20de%20Souza%20Le%C3%A3o%2C%2075%20-%2008%20-%20Boa%20Viagem%2C%20Recife%20-%20PE%2C%2051030-300!5e0!3m2!1spt-BR!2sbr!4v1717268116926!5m2!1spt-BR!2sbr"
                                style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <br>
                            <button class="btn-line-height-1" mat-raised-button matTooltip="Botão Whatsapp"
                                color="accent" aria-label="Botão Whatsapp" (click)="redirecionarWhatsapp()">
                                Entre em contato com a gente clicando aqui
                            </button>
                        </p>
                    </mat-tab>
                </mat-tab-group>

            </mat-expansion-panel>
        </mat-accordion>
    </section>
</div>