.texto-titulo {
    font-size: 50px;
    font-family: 'Anton';
    margin-bottom: 35px;
}

.perguntas-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.centralizar-icone {
    position: relative;
    top: 7px;
}

.perguntas-respostas {
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}

.btn-line-height-1 {
    line-height: 1;
}

@media only screen and (max-width: 600px) {
    .mat-expansion-panel-header {
        padding-top: 114px;
        padding-bottom: 123px;
    }

    .alinhamento-header {
        padding: 75px 0px 80px 10px !important;
    }
}

div:not([class^="app-"]) {
    background-color: #f7f1e9;
}