
<section id="perguntasFrequentes" class="container">
    <h2 class="texto-titulo row">
        PERGUNTAS FREQUENTES
    </h2>
    <p class="perguntas-container">
        <strong>
            1) Preciso ter alguma experiência prévia com exercícios físicos para praticar aéreos ou
            flexibilidade?
        </strong>
        <br>
        Absolutamente não! Na Cia. Pé de Manga, acolhemos alunos de todos os níveis de habilidade, desde iniciantes
        até os mais experientes. Nossos instrutores dedicados estão aqui para orientar e apoiar você em sua jornada.
        <br>
        Se você nunca experimentou atividades aéreas ou trabalhou sua flexibilidade antes, não se preocupe. Nossas
        aulas são projetadas para serem acessíveis a todos, proporcionando uma introdução suave e progressiva às
        técnicas de acrobacia e dança aérea.
        <br>
        Venha como você é e descubra o incrível mundo dos aéreos!
        <br>
        <br>
        <strong>
            2) Preciso ser jovem para praticar aéreos ou flexibilidade?
        </strong>
        <br>
        Definitivamente não há limite de idade para explorar os aéreos e a flexibilidade! Na Cia. Pé de Manga,
        acreditamos que a arte do movimento é atemporal. Nossas aulas são adaptáveis a diferentes idades e níveis de
        condicionamento físico. Seja você jovem ou mais experiente, as atividades aéreas e de flexibilidade podem
        ser desfrutadas por todos. Nosso ambiente acolhedor e encorajador é projetado para que cada pessoa se sinta
        confortável e confiante em sua prática, independentemente da idade. Venha descobrir o prazer do movimento!

        <span [@expandCollapse]="exibirPerguntas ? 'expanded' : 'collapsed'">
            <br>
            <br>
            <strong>
                3) Preciso ser magra(o) para praticar aéreos ou flexibilidade?
            </strong>
            <br>
            Definitivamente não! A diversidade de corpos é celebrada na Cia. Pé de Manga. Nossas aulas são
            projetadas
            para atender a todos os tipos de corpo e níveis de condicionamento físico.
            <br>
            A beleza dos aéreos e da flexibilidade está na expressão individual, independente da forma, peso ou
            tamanho
            do corpo.
            <br>
            Nosso objetivo é criar um ambiente inclusivo e positivo, onde cada aluno se sinta confortável explorando
            suas capacidades, independentemente de padrões estéticos ou crenças equivocadas sobre os diversos
            corpos.
            <br>
            <br>
            <strong>
                4) Crianças podem participar?
            </strong>
            <br>
            Sim, crianças são mais do que bem-vindas na Cia. Pé de Manga! Nossas aulas estão abertas para pequenos
            aventureiros a partir dos 5 anos de idade. Acreditamos que a prática de atividades aéreas e
            flexibilidade
            pode ser uma experiência incrivelmente enriquecedora para as crianças, proporcionando não apenas
            desenvolvimento físico e a motricidade, mas também estimulando a criatividade e a confiança. É
            importante
            notar que crianças devem ser acompanhadas pelos pais durante as aulas, que são mistas quanto a idade,
            garantindo um ambiente seguro e divertido para todos.
            <br>
            <br>
            <strong>
                5) Posso repor alguma aula, caso eu necessite faltar?
            </strong>
            <br>
            Sim, entendemos que imprevistos acontecem. Na Cia. Pé de Manga, oferecemos a opção de reposição de aulas
            para garantir que você obtenha o máximo benefício de sua experiência. Entre em contato e consulte nossas
            políticas de reposição para obter mais detalhes e informações sobre como programar a reposição de aulas
            que
            você perdeu.
            <br>
            <br>
            <strong>
                6) Quais os dias de aulas?
            </strong>
            <br>
            Confira os dias e horários das aulas:
            <br>
            <br>
            Dom:
            <br>
            ✨ 7:40 às 9h
            <br>
            ✨ 9 às 10:20h
            <br>
            ✨ 10:30 às 11:50h
            <br>
            <br>
            Ter
            <br>
            ✨ 13:20 às 14:40h e
            <br>
            ✨ 16:40 às 17:50h
            <br>
            <br>
            Qui
            <br>
            ✨ 17:30 às 18:50h
            <br>
            ✨ 19 às 20:20h Sáb
            <br>
            ✨ 16:30h às 17:50h.
            <br>
            <br>
            Sáb ✨ 16:30h às 17:50h.
            <br>
            Obs: consulte a disponibilidade de vagas clicando aqui (link para whats).
            <br>
            <br>
            <strong>
                7) Quais os valores e planos?
            </strong>
            <br>
            Na Cia. Pé de Manga, oferecemos flexibilidade para atender às necessidades individuais de nossos alunos.
            Neste sentido, o valor da mensalidade varia de acordo com a frequência das aulas por semana.
            <br>
            Confira abaixo os planos e opções de pagamento:
            <br>
            <br>
            Pix:
            <br>
            ✨ 1 aula/semana: R$160
            <br>
            ✨ 2 aulas/semana: R$270
            <br>
            ✨ 3 aulas/semana: R$380
            <br>
            <br>
            Matrícula:
            <br>
            ✨R$50 (cobrada uma única vez)
            <br>
            ✨ Aula Avulsa: R$50 por aula
            <br>
            <br>
            Cartão:
            <br>
            ✨ 1 aula/semana: R$180
            <br>
            ✨ 2 aulas/semana: R$285
            <br>
            ✨ 3 aulas/semana: R$400
            <br>
            Matrícula: R$50 (cobrada uma única vez)
            <br>
            <br>
            ✨ Aula avulsa:
            <br>
            R$55 por aula
            <br>
            Entendemos a importância de oferecer opções de pagamento convenientes. Para mais informações sobre os
            planos, métodos de pagamento e matrícula, entre em contato conosco.
            <br>
            <br>
            <strong>
                8) Onde se localiza da Cia. Pé de Manga?
            </strong>
            <br>
            A Cia. Pé de Manga se localiza em Recife, no bairro do Recife Antigo, neste endereço:
            <br>
            Casarão das Artes
            <br>
            https://maps.app.goo.gl/Aou5JYDPLqcVrunz5
            <br>
            Página - CONTATO E LOCALIZAÇÃO:
            <br>
            A Cia. Pé de Manga se localiza em Recife, no bairro do Recife Antigo, neste endereço:
            <br>
            <br>
            Casarão das Artes
            <br>
            https://maps.app.goo.gl/Aou5JYDPLqcVrunz5
            <br>
            <br>
            BOTÃO PARA CONTATO - Entre em contato com a gente clicando aqui (link para whats).
        </span>

        <button (click)="aoMaximizarMinimizarPerguntas()" class="btn-ver-mais-perguntas" mat-raised-button
            matTooltip="{{ exibirPerguntas ? 'Ocultar' : 'Expandir' }}" color="accent"
            aria-label="Expandir ou Minimizar">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

            <span class="material-symbols-outlined centralizar-icone">
                {{ exibirPerguntas ? 'expand_less' : 'expand_more'}}
                </span>
            {{ exibirPerguntas ? 'VER MENOS' : 'VER MAIS'}}
        </button>
    </p>
</section>
