.footer-content {
    padding: 65px;
    background-color: #f7f1e9;
}

.spacer {
    flex-grow: 1;
}

.copyright-container {
    text-align: center;
    font-size: 12px;
    font-weight: 550;
}

img {
    width: 52px;
    padding-right: 10px;
    cursor: pointer;
}

.logo-cia {
    float: inline-end;
    width: 120px;
    position: relative;
    left: 56px;
}

.texto-fonte {
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}