<footer class="footer-content">
  <div>
    <p class="texto-fonte">
      Nos siga nas redes abaixo:
    </p>
    <div>
      <img (click)="redirecionarInstagram()" src="assets/icons/icon-instagram.svg" alt="Icone para a página do Instagram">
      <img (click)="redirecionarWhatsapp()" src="assets/icons/icon-whatsapp.svg" alt="Icone para falar no Whatsapp">
      <img (click)="redirecionarYoutube()" src="assets/icons/icon-youtube.svg" alt="Icone para o canal no Youtube">

      <img class="logo-cia" src="assets/icons/cia-pe-de-manga-transparente.svg" alt="Logo da Cia Pé de Manga">
    </div>
  </div>
  <div class="copyright-container">&copy; 2024 Cia Pé de Manga. Todos os direitos reservados.</div>
</footer>
