.footer-content {
    padding: 65px;
    background-color: #8bdb34;
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
}

.spacer {
    flex-grow: 1;
}

.copyright-container {
    text-align: center;
    font-size: 12px;
    color: white;
    font-weight: 550;
}

img {
    width: 30px;
    padding-right: 10px;
}
 