@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Zerando CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo-tela */
html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(/static/img/img1.jpg);
    background-position: center 50%;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

/* Menu - Header - NavBar */
header {
    width: 100%;
    height: 7vh;
    background-color: rgba(22, 22, 22, 0.2);
    position: fixed;
    top: 0;
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    justify-content: space-between;
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
    padding-right: 30px;
    margin-right: -1000px; /* Adicionado para mover a logo para a esquerda */
}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}

.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(251, 255, 0);
    transition: all 1.5s ease; 
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}

/* Centro - Conteudo Principal */
main {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Textos conteudo principal */
.primary-text {
    width: 850px;
    font-size: 8rem;
    margin-bottom: 2rem;
    text-align: center;
}

.second-text {
    margin-bottom: 7rem;
    font-size: 2rem;
    color: rgb(165, 165, 165);
    text-transform: uppercase;
}

/* Botões */
.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btns button {
    font-size: 1.8rem;
    width: 250px;
    height: 100px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
    }
    
    .btns button:hover {
    color: rgb(251, 255, 0);
    border: none;
    }
    
    /* Rodapé */
    footer {
    width: 100%;
    height: 7vh;
    background-color: rgba(22, 22, 22, 0.2);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .footer-content {
    display: flex;
    gap: 10px;
    }
    
    .footer-content p {
    font-size: 1.4rem;
    color: white;
    letter-spacing: 0.1rem;
    }
    
    .footer-content a {
    text-decoration: none;
    color: rgb(251, 255, 0);
    transition: all 1.5s ease;
    }
    
    .footer-content a:hover {
    color: white;
    text-shadow: 1px 1px rgb(251, 255, 0);
    }
    
    @media (max-width: 768px) {
    .menu-content {
    font-size: 1.2rem;
    }
    .logo {
    font-size: 1.2rem;
    }
    .primary-text {
    width: 100%;
    font-size: 5rem;
    }
    .second-text {
    font-size: 1.2rem;
    margin-bottom: 4rem;
    }
    .btns {
    flex-direction: column;
    gap: 10px;
    }
    .btns button {
    width: 100%;
    height: 80px;
    font-size: 1.4rem;
    }
    }
