.galeria-container {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.texto-titulo {
    font-size: 50px;
    font-family: 'Anton';
}

div:not([class^="app-"]) {
    background-color: #f18bb8;
}