.galeria-container {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.texto-titulo {
    font-size: 50px;
    font-family: 'Anton';
}

// section {
//     padding: 56px 0 56px 0;
// }