<div>
    <section id="galeria" class="galeria-container container">
        <h2 class="texto-titulo">
            NOSSA GALERIA
        </h2>
        <div class="row">
            <div class="col-lg-12">
                <app-carrossel *ngIf="imagensGaleria && imagensGaleria.length" [listaImagens]="imagensGaleria"
                    [corBorda]="'#f7f1e9'"></app-carrossel>
                <div *ngIf="!imagensGaleria || !imagensGaleria.length">
                    Ocorreu um erro ao carregar as fotos, mas você pode ver nossas postagens no link abaixo!
                </div>
            </div>
        </div>
        <div class="row">
            <button class="col-lg-2" mat-raised-button matTooltip="Botão ver mais fotos no instagram" color="accent"
                aria-label="Botão ver mais fotos no instagram" (click)="redirecionarInstagram()">
                Ver mais fotos
            </button>
        </div>
    </section>
</div>