.home-container {
  color: white;
}

.section {
  background-color: #8bdb34;
  padding: 65px;
  margin: 30px 0px;
}

.video-section {
  padding: 0px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.opacidade {
  height: 71vh;
  opacity: 0.9;
}

.inclinar {
  width: 100%;
  height: 100%;
  position: relative;
  top: 77px;
  clip-path: polygon(0 0, 78% 17%, 67% 23%, 9% 55%);
  background-color: #8bdb34;
}

.contato-container {
  clip-path: polygon(0 0, 81% 15%, 83% 78%, 0% 87%);
}

.conteudo {
  position: absolute;
  color: #fff;
  text-wrap: balance;
  font-size: 50px;
  text-shadow: 4px 2px 20px black;

  padding: 96px;
  z-index: 999;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.texto-titulo {
  font-family: 'Anton';
}

.texto-subtitulo {
  font-family: 'bebas-neue-cyrillic';
}

@font-face {
  font-family: 'Anton';
  src: url('../../assets/custom-fonts/Anton.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas-neue-cyrillic';
  src: url('../../assets/custom-fonts/bebas-neue-cyrillic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

.btn-enviar-whatsapp {
  display: table-cell;
  font-size: 20px;
}

.mensagem-box {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.btn-enviar-whatsapp-contato {
  position: absolute;
}
