<!-- <div class="home-container flex-container">
</div> -->
<div class="flex-container  dark-background">
    <section id="agendarExperimental" class="container home">
        <div class="row espacamento-home">
            <div class="col-lg-3">
                <app-girassol></app-girassol>
            </div>
            <div class="col-lg-6 alinhar-centro">
                <h1 class="texto-titulo-inicial">Cia. Pé de Manga</h1>
            </div>
            <div class="col-lg-3">
                <app-girassol></app-girassol>
            </div>
        </div>

        <div class="row botao-agendar">
            <div class="col-lg-12 alinhar-centro">
                <button mat-raised-button matTooltip="Enviar via Whatsapp" color="accent"
                    aria-label="Enviar via Whatsapp" (click)="redirecionarWhatsapp()">
                    Agendar aula experimental <strong>gratuita</strong>
                </button>
            </div>
        </div>
    </section>
</div>
<div class="exibir-home"></div>