<div>
    <section id="contatoLocalizacao" class="container">
        <h2 class="texto-titulo">ENTRE EM CONTATO</h2>

        <div class="row">
            <p class="texto-fonte col-lg-12 col-md-12 col-sm-12">Clique nos ícones abaixo para entrar em contato</p>
            <div>
                <img class="col-lg-3 img-social" src="assets/icons/icon-instagram.svg"
                    alt="Icone para a página do Instagram" (click)="redirecionarInstagram()">
                <img class="col-lg-3 img-social" src="assets/icons/icon-whatsapp.svg" alt="Icone para falar no Whatsapp"
                    (click)="redirecionarWhatsapp()">
                <img class="col-lg-3 img-social" src="assets/icons/icon-email.svg" alt="Icone para falar no Whatsapp"
                    (click)="redirecionarEmail()">
                <img class="col-lg-3 img-social" src="assets/icons/icon-localization.svg"
                    alt="Icone para falar no Whatsapp" (click)="redirecionarMaps()">
            </div>
        </div>

        <iframe class="mapa-localizacao"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.411718748501!2d-34.87353542312098!3d-8.059417680528266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab19c51a5dc749%3A0xbbd23ca315e0c2b7!2sCia.%20P%C3%A9%20de%20Manga!5e0!3m2!1spt-BR!2sbr!4v1709058661236!5m2!1spt-BR!2sbr"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </section>
</div>