.contato-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    clip-path: polygon(0 0, 97% 9%, 100% 86%, 7% 92%);
    padding: 8vw;

    img {
        width: 30px;
        padding-right: 10px;
        cursor: pointer;
    }

    .mapa-localizacao {
        width: 60vw;
        height: 25vh;
    }
    
    .texto-titulo {
        font-size: 50px;
        font-family: 'Anton';
    }
}