<section class="container idealizadora-container">
    <h2 class="texto-titulo tamanho-titulo">
        Idealizadora
    </h2>
    <div class="row">
        <img class="col-lg-5 col-md-6 col-sm-6 img-sobrenos" src="assets\fotos\IdealizadoraTecido.png" alt="Foto da idealizadora">
        <span class="texto-justificar col-lg-7 col-md-5 col-sm-5">
            <h3 class="texto-titulo"> Thais </h3>
            <p>
                Artista, acrobata aérea e professora circense formada pela UAHC (Chile), Thais Sousa tem 8 anos de
                experiência entre Brasil e Chile com acrobacias e dança aérea, seja com aulas regulares, oficinas ou
                apresentações em espetáculos, varietés e festivais.
                <br>
                Desde 2022 tem dirigido e produzido espetáculos, junto à Cia. Pé de Manga, sendo sucesso de publico em
                todas
                as produções.
            </p>
        </span>
    </div>
</section>