{% extends 'main.html' %}

{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <header>
        <div class="menu-content">
            <h1 class="logo"> Cia. Pé de Manga</h1>
            <nav class="header-menu">
                <ul class="list-itens align-right">
                    
                    <li><a href="#">a cia.</a></li>
                    <li><a href="#">produções</a></li>
                    <li><a href="#">contato</a></li>
                    <li><a href="/create/">Cadastro</a></li>
                    <li><a href="/painel/">Área restrita</a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="main-content">
            <h1 class="primary-text">Voar nunca foi tão perto!</h1>
            <h2 class="second-text">VEM VOAR COM A GENTE!</h2>
            <div class="btns">
                <button class="btn-exp">Agendar experimental GRATUITA</button>
                <button class="btn-personal">Tenho uma dúvida!</button>
            </div>
        </div>
    </main>
    
{% endblock %}
